<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fartans.keyplus" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_login"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.fartans.keyplus.SecureKey"
            android:label="Key+"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>

        <activity
            android:name="com.fartans.keyplus.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fartans.keyplus.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.fartans.keyplus.VaultActivity"
            android:label="Vault" >
        </activity>
        <activity
            android:name="com.fartans.keyplus.KeyValueActivity"
            android:label="Add Item" >
        </activity>
        <activity
            android:name="com.fartans.keyplus.AddVaultActivity"
            android:label="Add Vault" >
        </activity>
        <activity
            android:name="com.fartans.keyplus.SignupActivity"
            android:label="SignUp" >
        </activity>
        <activity
            android:name="com.fartans.keyplus.AddKeyValueActivity"
            android:label="Add KeyValue" >
        </activity>

        <provider
            android:name="com.fartans.keyplus.db.SecureProvider"
            android:authorities="com.phoenix.securekey.db.SecureProvider" >
        </provider>

        <activity
            android:name="com.fartans.keyplus.SplashActivity"
            android:label="Key+" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
